// fonts
$text-font: 'Montserrat', sans-serif;
$caption-font: 'Ferry', sans-serif;
// colors
$or-grdient-btn-bg-first: #FD4B0D;
$or-grdient-btn-bg-second: #FD4B0D;

$pur-grdient-btn-bg-second: #474FA0;
$pur-grdient-btn-bg-second: #888FDA;

$search-btn-color: #474FA0;

$color-dark-theme: #fff;
$color-light-theme: #191E20;

$main-color: #FE4B09;
$secondary-color: #4B53A3;

$active-color: #FD4B0D;

$placeholder-dark-theme: #fff;
$placeholder-light-theme: #8A8A99;

$bg-color: #191E20;
$body-bg-color: #fff;

$dis-active-color: #5E6162;

$yt-dark-color: #BC0209;
$yt-color: #ED1C24;

$light-bg-input: #E0E1EB;
$light-border-input: #C2C2CB;

$dark-bg-input: #1A1D1E;
$dark-border-input: #262728;

$orange-bg-input: rgba(0, 0, 0, 0.2);
$orange-border-input: #D9663C;